/* Import Bootstrap CSS */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.App{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("https://images.pexels.com/photos/3850526/pexels-photo-3850526.jpeg?auto=compress&cs=tinysrgb&w=600");*/
   background-color: #3f7da7; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position:inherit;
  background-blend-mode:overlay;
  backdrop-filter: blur(10px);
}
.blogs {
  background-image: url("https://images.pexels.com/photos/3850526/pexels-photo-3850526.jpeg?auto=compress&cs=tinysrgb&w=600") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:inherit;
  background-blend-mode:overlay;
  backdrop-filter: blur(10px);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar Styles */
.navbar {
  background-color: #6d1f39  /* rgb(224, 195, 158)*/;
  margin-bottom: 10px;

}

.left-nav {
  margin-left: 10px;
}

.right-nav ul {
  list-style: none;
  margin-right: 10px;
}

.right-nav .links {
  margin-left: 12px;
  border-radius: 3px;
  background-color: rgb(36, 6, 51);
  padding: 5px;
}

.links {
  text-decoration: none;
  color: rgb(206, 198, 198);
}

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.form input {
  margin: 10px 0;
}

.form label {
  margin: 10px;
  max-height: 300px;
  height:max-content;
}

.form button {
  padding: 8px;
  border: none;
  background-color: rgb(47, 2, 63);
  color: rgb(188, 144, 144) #3333;
  cursor: pointer;
  border-radius: 5px;
}


.form {
  min-height: 400px;
}

.form-field {
  margin-bottom: 20px; 
}

.quill-wrapper::after {
  content: '';
  display: block;
  clear: both;
  height: auto;
}

.form-control {
  width:200px;
  height:auto !important ;

}


.ql-editor {
  min-height: 200px; 
}

.author-label {
  font-size: 50px; 
  font-weight: bold; 
}


.card {
  display: flex;
  flex-direction: column; 
}

/* Fixed height for the image */
.card-img-top {
  height: 300px; 
  width: auto;
  object-fit: cover; 
}

/* Max height for card content, allowing for some overflow */
.card-body {
  max-height: 400px;
  overflow-y: auto; 
}

.form-label  {
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.form-h1 {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.blog-name{
  font-size: 25px;
  color: rgb(83, 156, 172);
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.welcome-page {
  image-orientation:flip;
   
}

.slide {
  max-width: 25%;
  height: auto;
  background-repeat: no-repeat;
  background-size: center;
  background-position:inherit;
  background-blend-mode:overlay;
  backdrop-filter: blur(150px);
}

.carousel-img {
  max-height: 850px; /* Adjust the max-height as needed to make the images smaller */
  max-width: 1350px;
  display: block;
  margin: 0 auto;
  background-image:overlay;
  backdrop-filter: blur(150px);
}

.legend {
  /* background-color: #497898;
  position:relative;
  top: 50%; /* Adjust to vertically center 
  left: 50%; /* Adjust to horizontally center 
  transform: translate(25%, 25%); Center both horizontally and vertically */
  opacity: 5; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth fade-in effect */
  display: flex;
  flex-direction:inherit;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  height: 45vh; /* Sets the height of the container to the viewport height */
  font-size: 25px;
  color: rgb(83, 156, 172);
  font-weight: bold;
  text-shadow: rgba(58, 104, 156, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(78, 120, 146, 0.397) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

.button{
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}






















































/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.pexels.com/photos/1049298/pexels-photo-1049298.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flex;
  justify-content: space-between;
 background-color: rgb(219, 225, 230);
 margin-bottom: 10px;
}

.left-nav {
  display: flex;
  margin-left: 10px;
}

.right-nav ul{
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.right-nav .links{
  margin-left: 12px;
  border-radius: 3px;
  background-color: rgb(50, 5, 72);
  padding: 5px;
}

.links {
  text-decoration:none ;
  color: rgb(206, 198, 198);
}

.form{
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.form input {
  margin: 10px 50px;
}

.form label {
  margin: 10px;
}

.form button {
  padding: 8px;
  border: none;
  background-color: rgb(47, 2, 63);
  color: white;
  cursor: pointer;
  border-radius: 5px;

} */